<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" th:fragment="productList">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/productList.css" rel="stylesheet"/>
    <title>Product List</title>
</head>

<body>
<section class="container">
    <nav class="container" style="--bs-breadcrumb-divider: '>'; max-width: 992px;" aria-label="breadcrumb">
        <ol class="breadcrumb" id="breadcrumb">


        </ol>
    </nav>

    <div class="container" style="max-width: 992px">
        <div id="list-items">
            <div id="row" class="row">


            </div>
        </div>
    </div>


    <nav class="container pageNav" style="max-width: 992px" aria-label="Page navigation">
        <ul class="pagination">


        </ul>
    </nav>
</section>

<!--<script src="js/myJS.js"></script>-->
<script src="js/productList.js"></script>
<!--<script src="js/productListing.js"></script>-->

</body>

</html>