<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About Us</title>
</head>

<body>
<section th:fragment="aboutus" id="aboutUsSection">
    <!-- Content of About Us -->
    <div class="container">
        <div id="aboutUsBackgroundImg">
            <img src="images/AboutUsBannerText.jpg">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-column align-items-center">
                <div id="teamNameWord">
                    <h1 style="color: #cc8219">e-Script Coders</h1>
                </div>
                <div>
                    <p>In a bustling city, a team of junior web developers set out on a mission to create an
                        e-commerce project. With each member specializing in different areas, they worked together
                        to build an intuitive user interface and a functional back-end system. Despite their limited
                        experience, they dedicated themselves to learning and improving, constantly exploring new
                        ways to enhance their project. Their journey as aspiring developers
                        left a lasting impact on their skills and laid the foundation for future growth in the field
                        of web development.</p>
                </div>
                <div id="meetWord">
                    <h6>MEET</h6>
                </div>
                <div id="theTeamWord">
                    <h1 style="color: #cc8219">The Team</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-around">
            <div class="card col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 aboutUsCard"
                 style="max-width: 32rem; min-width: 32rem">
                <div class="card-header d-flex justify-content-center aboutUsPhoto">
                    <img src="images/edwardprofilepic.jpg" class="card-img-top" alt="image">
                </div>
                <div class="card-body">
                    <h5 class="card-title memberName">Edward Tan Pau Kiat</h5>
                    <p class="card-text">Edward is a Junior Full Stack Developer in training, and he is
                        excited to apply
                        his skills in this field.<br><br>
                        With his extensive experience in business continuity management and risk analysis,
                        he brings a
                        fresh perspective to the tech industry. <br><br>
                        Throughout his career, he has developed a range of skills that will be valuable in
                        his new role
                        as a developer. Specifically, Edward has experience in developing business
                        continuity plans,
                        facilitating emergency preparedness exercises, and conducting workshops.<br><br>
                        These skills have provided him with a strong foundation in problem-solving and
                        critical
                        thinking, which will be an asset as he embarks on this new journey. In addition to
                        his
                        developing technical skills, his Bachelor of Arts in Psychology has given him a
                        unique
                        perspective on human behaviour that will be valuable as he works with clients and
                        stakeholders.</p>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a href="https://www.linkedin.com/in/edward-tan-99779596/" target="_blank">
                        <img src="images/LinkedIn_Icon_36x36px.png">
                    </a>
                    <a href="https://github.com/edwardpktan" target="_blank">
                        <img src="images/GitHub_Icon_36x36px.png">
                    </a>
                </div>
            </div>
            <div class="card col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 aboutUsCard"
                 style="max-width: 32rem; min-width: 32rem">
                <div class="card-header d-flex justify-content-center aboutUsPhoto">
                    <img src="images/soohuaportrait_360.jpg" class="card-img-top" alt="image">
                </div>
                <div class="card-body">
                    <h5 class="card-title memberName">Ng Soo Hua</h5>
                    <p class="card-text">Soo Hua is results driven with high personal and career
                        goals.<br><br>
                        He enjoys spending time understanding problems and identifying innovative
                        solutions.<br><br>
                        With experience spanning from Software Development, Project Management to Business
                        Development,
                        he is always looking to learn and improve. In his roles, he has excelled both as an
                        independent
                        contributor as well as a team player with strong written and verbal communication
                        skills.
                        Soo Hua is a certified Google Data Analytics Professional and ACTA for Training and
                        Assessment
                        at Institute of Adult Learning.<br><br>
                        Currently he is in Singapore Generation Full Stack Development Bootcamp training to
                        be a
                        Full
                        Stack Developer.</p>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a href="https://www.linkedin.com/in/soo-hua-ng-3a63981a/" target="_blank">
                        <img src="images/LinkedIn_Icon_36x36px.png">
                    </a>
                    <a href="https://github.com/ngsoohua" target="_blank">
                        <img src="images/GitHub_Icon_36x36px.png">
                    </a>
                </div>
            </div>
            <div class="card col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 aboutUsCard"
                 style="max-width: 32rem; min-width: 32rem">
                <div class="card-header d-flex justify-content-center aboutUsPhoto">
                    <img src="images/lakshmi.jpg" class="card-img-top" alt="image">
                </div>
                <div class="card-body">
                    <h5 class="card-title memberName">Udayakumar Muthulakshmi</h5>
                    <p class="card-text">Lakshmi is a computer science graduate who intends to upgrade her
                        skills to
                        widen her knowledge in this field. She has also excelled and gained sales experience
                        through
                        being a sales coordinate, which has provided a unique opportunity for her to explore
                        the
                        world.
                        <br><br>
                        She is currently embarking on a Junior Full Stack developer course, that is aimed to
                        enhance
                        her
                        expertise in this field. Together with her past experiences, she will be able to
                        bring
                        herself
                        to the next level, constantly learning and refining herself further.
                    </p>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a href="https://www.linkedin.com/in/muthu-lakshmi-277361275/" target="_blank">
                        <img src="images/LinkedIn_Icon_36x36px.png">
                    </a>
                    <a href="https://github.com/priyauday-lakshmi" target="_blank">
                        <img src="images/GitHub_Icon_36x36px.png">
                    </a>
                </div>
            </div>
            <div class="card col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 aboutUsCard"
                 style="max-width: 32rem; min-width: 32rem">
                <div class="card-header d-flex justify-content-center aboutUsPhoto">
                    <img src="images/sypic.jpg" class="card-img-top" alt="image">
                </div>
                <div class="card-body">
                    <h5 class="card-title memberName">Wong Sin Yuen</h5>
                    <p class="card-text">Sin Yuen is an experience helpdesk support and brings over 10 years
                        of
                        level 1
                        IT support servicing users with their queries.<br><br>
                        She is currently undergoing a mid-career transition with Singapore Generation team
                        and
                        will
                        be
                        completing her Full Stack Developer programme. She hopes to apply the skills
                        learnt from her FSD courses along with her working experiences to further her IT
                        career
                        progression.<br><br>
                        She enjoys trying new receipes during her free time.</p>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a href="" target="_blank">
                        <img src="images/LinkedIn_Icon_36x36px.png">
                    </a>
                    <a href="https://github.com/SinYYuen" target="_blank">
                        <img src="images/GitHub_Icon_36x36px.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>