<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" th:fragment="content">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/content.css" rel="stylesheet">

    <title>Home Page Content</title>
</head>

<body >
    <main >
        <div class="container py-4">
            <header class="pb-3 mb-4 border-bottom">
            </header>

            <div class="jumbrotron1 p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <!--                <h2 class="display-5 fw-bold">STYLE & DESIGN</h2>-->
                    <h2>STYLE & DESIGN</h2>

                    <p class="col-md-6 fs-4">We see our products as timeless pieces that can last a lifetime and feel
                        this adds a lot of value to our customers. With contemporary cuts for a modern fit, and classic
                        styling, we want items that will get you noticed while still being relevant and wearable in
                        years to come..</p>
                    <!--                    <button class="btn btn-primary btn-lg" type="button">Example button</button>-->
                </div>
            </div>

            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-bg-dark rounded-3">
                        <h2>Feel Good and Spend Less</h2>
                        <p>Get 20% off Site Wide | Code $pring$ave</p>
                        <button class="btn btn-outline-light" type="button">Enjoy Discount Now</button>
                    </div>
                </div>
                <div class="col-md-6 ">
                  
                    <div class="jumbrotron3 h-100 p-5 bg- text-bg-dark light border rounded-3">
                        <div class="overlay">
                            <h2>EXCEPTIONAL QUALITY</h2>
                            <p><b>We’d sum up our ethos with four key words; Materials, Provenance, Design and Quality. All
                            of these aspects are absolutely essential to the way we choose and produce our products
                            and are effectively the four main pillars of our brand.</b></p>
                        </div>    
                        <!--<button class="btn btn-outline-secondary" type="button">Example button</button>-->
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>